@{
    ViewData["Title"] = "Exchange Confirmation";
}

<div class="container my-5">
    <div class="text-center mx-auto">
        <h3 style="font-size: 24px; color: #333;">Підтвердження обміну</h3>
        <p style="font-size: 18px; color: #666; margin-top: 20px;">@ViewBag.Message</p>
        <p style="font-size: 18px; color: #444;">Якщо у вас є додаткові питання, будь ласка, зв'яжіться з нами.</p>
    </div>
</div>
