@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/signin-image.jpg" alt="sign in image"></figure>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="signup-image-link">Create an account</a>
                    <a class ="signup-image-link" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    <a class="signup-image-link"  id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            
                            <input asp-for="Input.Email" type="email" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Input.Password" type="password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                            <label asp-for="Input.RememberMe" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
