@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="main">

    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="POST" class="register-form" id="register-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            <input asp-for="Input.Name" type="text"  aria-required="true" placeholder="First Last" />
                            <label asp-for="Input.Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Email" type="email"  id="email"  autocomplete="email" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email"><i class="zmdi zmdi-email"></i></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" aria-required="true" placeholder="Repeat your password" />
                            <label asp-for="Input.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" required="true" id="agree-term" class="agree-term"/>
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LeN31UqAAAAAHyciS6qmQnGP7otnH16GlEHfnm2"></div><br>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="~/images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="~/Identity/Account/Login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
}
