@model swap_book.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:100px; margin-bottom:30px;">
    <h1 class="text-center">Нова книга</h1>
    <form asp-action="AddBook" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BookCategories" class="control-label">Категорії</label>
            <select name="BookCategories" asp-items="new SelectList(ViewBag.Categories, nameof(Category.CategoryId), nameof(Category.CategoryName))" class="form-control" multiple></select>
        </div>


        <div class="form-group">
            <label asp-for="ImageFile" class="control-label">Фото</label>
            <input asp-for="ImageFile" type="file" Required="true" class="form-control"/>
        </div>

        <span asp-validation-for="ImageFile" class="text-danger"></span>

        <div class="form-group">
            <label asp-for="Name" class="control-label">Назва книги</label>
            <input asp-for="Name" type="text" Required="true" MinLength="3" class="form-control"/>
        </div>

        <span asp-validation-for="Name" class="text-danger"></span>

        <div class="form-group">
            <label asp-for="Author" class="control-label">Автор</label>
            <input asp-for="Author" type="text" class="form-control" Required="true" RegularExpression="^[a-zA-Z ]+$"/>
        </div>

        <span asp-validation-for="Author" class="text-danger"></span>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Опис книги</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <span asp-validation-for="Description" class="text-danger"></span>

        <div class="text-center" style="margin-top: 10px; margin-bottom: 20px;">
            <button type="submit" class="btn btn-primary">Відправити</button>
        </div>
    </form>
</div>