@{
    ViewBag.Title = "EditBook";
}

@model swap_book.Models.Book

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h2>Книга № @Model.BookId</h2>
            </div>

            <form asp-action="EditBook" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BookId" />
                <div class="form-group">
                    <label for="Name">Назва книги</label>
                    <input asp-for="Name" class="form-control" required minlength="3" maxlength="50" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Author">Автор</label>
                    <input asp-for="Author" class="form-control" required regularExpression="^[a-zA-Z ]+$" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="ImageFile">Фото</label>
                    <input asp-for="ImageFile" class="form-control" required />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="text-center" style="margin-top: 10px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-primary">Відправити</button>
                </div>

            </form>
        </div>
    </div>
</div>
