@using swap_book.Models
@model IEnumerable<Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SwapBook";
}

<div class="container my-5">
    <div class="text-center mx-auto">
        <h3>Книги для обміну</h3>

        <table class="table">
            <thead>
            <tr>
                <th>Зображення</th>
                <th>Назва</th>
                <th>Автор</th>
                <th>Власник</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (Book book in Model)
            {
                <tr>
                    <td>
                        <img src="/Uploads/@book.ImageUrl" height="150px" width="175px" />
                    </td>
                    <td>@(book.Name ?? "N/A")</td>
                    <td>@(book.Author ?? "N/A")</td>
                    <td>@(book.Owner?.Name ?? "N/A")</td>
                    <td>
                        <p><a href="/offers/exchange/@book.BookId">Обміняти</a></p>
                    </td>
                    <td>
                        <p><a href="/offers/bookview/@book.BookId">Перегляд</a></p>
                    </td>
                    <td>
                        <p><a href="/offers/editbook/@book.BookId">Редагувати</a></p>
                    </td>
                    <td>
                        <p><a href="/offers/addbook/@book.BookId">Додати</a></p>
                    </td>
                    <td>
                        <p><a href="/offers/deletebook/@book.BookId">Видалити</a></p>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>