
@{
    ViewData["Title"] = "FAQ";
}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--4">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="bradcaump__inner text-center">
					<h2 class="bradcaump-title" style="color:#2e2e2e">Faq</h2>
					<nav class="bradcaump-content">
						<a class="breadcrumb_item" asp-controller="home" asp-action="index" style="color:#2e2e2e">Home</a>
						<span class="brd-separetor" style="color:#2e2e2e">/</span>
						<span class="breadcrumb_item active">Faq</span>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Start Faq Area -->
<section class="wn__faq__area bg--white pt--80 pb--60">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="wn__accordeion__content">
					<h2 localize-content>Below are frequently asked questions, you may find the answer for yourself</h2>
				</div>
				<div id="accordion" class="wn_accordion" role="tablist">
					<div class="card">
						<div class="acc-header" role="tab" id="headingOne">
							<h5>
								<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">What is a web-based book sharing service?</a>
							</h5>
						</div>
						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">A book sharing web service is an online platform that allows users to share books. Users can create profiles, add books to their library, and search for books that other users are looking for. When a user finds a book they want to swap, they can send a request to the other user. If the other user accepts the request, the books are exchanged.</div>
						</div>
					</div>
					<div class="card">
						<div class="acc-header" role="tab" id="headingTwo">
							<h5>
								<a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    What are the advantages of using a web service to share books?
								</a>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">Web-based book exchange services offer a number of benefits, including:
                                Saving money: Users can share books for free or for a small fee.
                                Access to a wide selection of books: Users can find books that they may not be able to find in local bookstores.
                                Promoting sustainable development: Web-based book-sharing services help reduce the amount of waste associated with book ownership.</div>
						</div>
					</div>
					<div class="card">
						<div class="acc-header" role="tab" id="headingThree">
							<h5>
								<a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    How do I sign up for a web-based book sharing service?
								</a>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">To sign up for a web-based book exchange service, you will need to create an account. This can usually be done by entering your email address and password. Once you have created an account, you will be able to add books to your library and search for books that other users are looking for.</div>
						</div>
					</div>
					<div class="card">
						<div class="acc-header" role="tab" id="headingFour">
							<h5>
								<a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
                                    How do I send a book exchange request?
								</a>
							</h5>
						</div>
						<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
							<div class="card-body">To send a book exchange request, you will need to find the book you want to exchange. Once you have found the book, you can send a request to the other user by clicking the "Request a swap" button.</div>
						</div>
					</div>
					<div class="card">
						<div class="acc-header" role="tab" id="headingFive">
							<h5>
								<a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
                                    How do I accept a book swap request?
								</a>
							</h5>
						</div>
						<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
							<div class="card-body">To accept a book exchange request, you will need to go to your profile and click the "Accept Request" button.</div>
						</div>
					</div>
					<div class="card">
						<div class="acc-header" role="tab" id="headingSix">
							<h5>
								<a class="collapsed" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
                                    How do I send a book?
								</a>
							</h5>
						</div>
						<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
							<div class="card-body">To send the book, you will need to pack it in a mailing bag and send it by postal operator. You can also use a courier service.</div>
						</div>
					</div>
					<div class="card">
						<div class="acc-header" role="tab" id="headingSeven">
							<h5>
								<a class="collapsed" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
                                    How do I receive the book?
								</a>
							</h5>
						</div>
						<div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
							<div class="card-body">To receive the book, you will need to contact the other user and arrange for delivery. You can meet in person or send the book by postal operator.</div>
						</div>
					</div>
					<div class="card">
						<div class="acc-header" role="tab" id="headingEight">
							<h5>
								<a class="collapsed" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">
                                    What are the terms and conditions of the web-based book exchange service?
								</a>
							</h5>
						</div>
						<div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
							<div class="card-body">Each book exchange service has its own terms and conditions. These rules define how the service works and how users should use it. It is important that you read the terms and conditions before signing up for a book exchange service.
                                Question: How do I contact support for a web-based book sharing service?
                                Answer: Every online book exchange service has a customer support team. If you have any problems with a web-based service, you can contact customer support via email.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Faq Area -->